.product-top{
    padding: 125px 0;
    background: linear-gradient(180deg, #6AD1D8 0%, #96DADE 100%);
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        &>img{
            position: absolute;
            right: -130px;
        }
    }

    &__content{
        max-width: 740px;
        display: flex;
        flex-direction: column;
        &>p:nth-of-type(1){
            color: #73D3D9;
            font-size: 20px;
            font-weight: 800;
            text-transform: uppercase;
            background-color: $color-white;
            border-radius: 10px;
            height: 40px;
            width: 124px;
            margin-bottom: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &>img{
            margin-bottom: 50px;
            max-width: 238px;
        }
        &>h2{
            font-family: "Museo Cyrl 700";
            font-size: 50px;
            font-weight: 700;
            color: $text-color-white;
            margin-bottom: 50px;
        }

    }

    &__content-description{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__content-description-box{
        display: flex;
        align-items: center;
        gap: 15px;
        &>p{
            font-size: 24px;
            font-weight: 500;
        }
    }

}