.footer{
    background-color: $color-green;
    padding: 30px 0;
    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 72px;
        &>img{
            width: 178px;
            height: 38px;
        }
    }
    &__top-contact{
        display: flex;
        align-items: center;
        gap: 0 60px;
        &>a:nth-of-type(1){
            color: $text-color-white;
        }
        &>a:nth-of-type(2){
            color: $text-color-white;
            font-family: "Museo Cyrl 700";
            font-size: 23px;
            font-weight: 700;
            display: flex;
            align-items: center;
            gap: 10px;
        }
        &>a:nth-of-type(2)::before{
            content: '';
            background-image: url('../img/icon/phone-icon.svg');
            background-position: center;
            background-size: cover;
            width: 22px;
            height: 22px;
        }
        &>button{
            padding: 15px 30px;
            border: 1px solid $color-white;
            color: $text-color-white;
            font-family: 'Manrope', sans-serif;
            font-weight: 500;
            font-size: 16px;
            border-radius: 26px;
            background-color: transparent;
            cursor: pointer;
            box-shadow: 0px 4px 9px 0px rgba(0, 0, 0, 0.06);
            &:hover{
                color: $text-color-pink;
                background-color: $color-white;
                transition: .3s;
            }
            &:active{
                transform: translate(2px, 2px);
            }
        }
    }

    &__bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__bottom-linck{
        display: flex;
        align-items: center;
        gap: 0 50px;
        &>a{
            color: $text-color-white;
        }
    }
}

@media(max-width: 1200px){
    .footer{
        &__top-contact{
            gap: 0 30px;
        }
    }
}

@media(max-width: 850px){
    .footer{
        &__top{
            flex-direction: column;
            &>img{
                margin-bottom: 20px;
            }
        }
        &__top-contact{
            flex-direction: column;
            &>a{
                margin-bottom: 20px;
            }
        }
        &__bottom{
            flex-direction: column;
            &>p{
                margin-bottom: 20px;
            }
        }
        &__bottom-linck{
            flex-direction: column;
            &>a:nth-of-type(1){
                margin-bottom: 20px;
            }
        }

    }
}