//Основные цвета сайта

$color-black: #2D2D2D;
$color-white: #FFFFFF;


//Дополнительные цвета сайта

$color-blue: #4AABB0;
$color-green: #009C7C;
$color-pink: #D86C85;



//Цвета текста

$text-color-blue: #4AABB0;
$text-color-pink: #D86C85;
$text-color-white: #FFFFFF;